@keyframes mobilenav {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes mobilenavitems {
  0% {
    transform: translateY(200px);
    opacity: 0
  }
  20% {
    transform: translateY(200px);
    opacity: 0
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

@keyframes scalein {
  from {
    scale: 0;
  }
  to {
    scale: 1
  }
}

@keyframes accordion {
  0% {
    transform: translateX(-100px);
    opacity: 0
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes photosbtn {
  from {
    opacity: 0;
    top: 0%;
  }
  to {
    opacity: 1;
    top: 45%;
  }
}

@keyframes photostitle {
  from {
    opacity: 0;
    bottom: 30%
  }

  to {
    opacity: 1;
    bottom: 50%
  }
}

@keyframes lightboximg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}