@import "animations.css";

$green: #84c54e;
$black: #333333;
$orange: #ff7e27;
$yellow: #ffe400;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: 0.5s;
}

html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.titleBg {
  color: #fff;
  background-color: #0d0d0d77;
  border-radius: 5px;
  display: inline;
}

// dropdown menu
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: -35%;
  background-color: $green;
  padding: 1rem 1.5rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &::after {
    content: ""; /* Required to display content */
    position: absolute; /* Sets the position absolute to the top div */
    top: 0;
    left: 50%; /* position the little arrow */
    transform: translateX(-50%);
    margin-left: -15px;
    margin-top: -15px; /* Set margin equal to border px */
    width: 0;
    z-index: 1;
    height: 0;
    border-bottom: solid 15px $green; /* Creates the arrow pointing up, to change to a notch instead user border-top */
    border-left: solid 15px transparent; /* Creates triangle effect */
    border-right: solid 15px transparent; /* Creates triangle effect */
  }

  a {
    color: white !important;
    transition: 0.3s;

    &:hover {
      color: $black !important;
    }
  }
}

.dropdown-lang::after {
  left: 25%;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

// header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-inline: 5rem;
  position: relative;
  z-index: 2;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  @media (max-width: 1200px) {
    padding-inline: 4rem;
  }
}

.header__hamburger {
  display: none;
  background-color: transparent;
  font-size: 2rem;
  border: 0;
  cursor: pointer;

  &:hover {
    color: $green;
  }

  @media (max-width: 1024px) {
    display: block;
  }
  @media (max-width: 1024px) {
    // order: 1;
  }
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;

  img {
    max-height: 50px;
  }
  span {
    color: #db1515;
    text-transform: uppercase;
    font-weight: 600;
  }

  @media (max-width: 1024px) {
    flex: 1;
  }
  @media (max-width: 500px) {
    flex: 0;
    // order: 2;
    font-size: 0.5rem;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;

  li {
    height: 100%;
    display: flex;
    align-items: center;

    &.dropdown:nth-last-of-type() {
      .dropdown-content {
        &::after {
          left: 0%;
        }
      }
    }

    &.active a {
      color: $green;
    }
  }

  li {
    &:hover a {
      color: $green;
    }
    a {
      color: $black;
      display: flex;
      align-items: center;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }

  .header__donate {
    background-color: #84c54e;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
    text-align: center;

    a {
      color: white;
    }
    &:hover {
      background-color: $orange;

      a {
        color: white;
      }
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

// mobile sidebar
.mobilenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $green;
  color: white;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  animation: mobilenav 0.6s linear;
  overflow-y: scroll;

  &.active {
    display: block;
  }

  .mobilenav-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: mobilenavitems 1s linear;

    li {
      // border-bottom: 1px solid $black;
    }

    li a {
      color: white;
      display: flex;
      gap: 1rem;
      font-size: 1.8rem;
    }

    .accordion {
    }

    .accordion-content {
      display: none;
      flex-direction: column;
      gap: 0.6rem;
      margin-top: 1rem;
      margin-left: 1.5rem;
      animation: accordion 0.2s linear;

      &.active {
        display: flex;
      }
    }
  }

  .mobilenavclose {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: $black;
    background-color: transparent;
    font-size: 2rem;
    border: 0;
  }
}

// sticky bar

.stickybar {
  position: fixed;
  top: 20%;
  left: 0;
  width: 95px;
  z-index: 3;
  display: flex;
  flex-direction: column;

  @media (max-width: 800px) {
    display: none;
  }
  a {
    display: grid;
    place-items: center;
    padding: 1rem;
    transition: 0.2s all;
    font-weight: 600;
    text-align: center;

    ion-icon {
      transition: 0.2s all;
    }

    &:hover {
      background-color: $orange;
      color: white;
    }
  }

  .donate {
    background-color: $yellow;
    color: $black;
    border-top-right-radius: 10px;
  }
  .register {
    background-color: $green;
    color: $black;
  }
  .voluntary {
    background-color: $orange;
    color: white;
    border-bottom-right-radius: 10px;

    &:hover {
      background-color: $green;
    }
  }
}

// home hero swiper

.home__hero {
  height: auto !important;

  img {
    object-fit: contain;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    color: white;

    @media (max-width: 600px) {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background-color: #0d0d0d;
    }

    &::after {
      font-size: 1.5rem;

      @media (max-width: 600px) {
        font-size: 1rem;
      }
    }
  }
}

// home services
.home__services {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem;
  gap: 3rem;

  .home__services-srv {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex: 1;
  }

  img {
    max-width: 70px;
    object-fit: contain;
  }

  p {
    color: $green;
    font-weight: 500;
  }

  @media (max-width: 1024px) {
    padding-inline: 3rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding-inline: 2rem;
  }
}

// home activities / activity slider

.activity-slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://inaye.az/images/bg-5.jpg");
  padding: 3rem;
  padding-bottom: 1rem;

  h2 {
    padding-top: 50px;
    margin: 0 0 0.46em;
    text-align: center;
    letter-spacing: -0.025em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 3rem;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    a {
      color: $black;
    }
    a:hover {
      color: $orange;
    }
  }

  h3 {
    margin: 0;
    text-align: center;
    font-size: 1em;
    color: #0d0d0d;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-weight: 400;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px;
    height: 35px;
    border-radius: 6px;
    background-color: white;
    color: #8a8a8a80;
    transition: 0.3s all;
    place-items: center;
    display: grid;
    opacity: 0;

    &:hover {
      background-color: $green;
      color: white;
    }
    &::after {
      font-size: 1rem;
    }
  }

  .home__activities-swiper {
    transition: 0.4s;
  }

  .home__activities-swiper:hover .swiper-button-next,
  .home__activities-swiper:hover .swiper-button-prev {
    opacity: 1;
    transform: translateX(0%);
  }

  .swiper-button-next {
    transform: translateX(100%);
  }
  .swiper-button-prev {
    transform: translateX(-100%);
  }

  .swiper-slide {
    background-color: transparent;

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding-bottom: 2rem;
      border-bottom: 1px solid $green;

      p {
        color: $green;
        &:hover {
          color: $orange;
        }
      }

      h4 {
        color: #333;
        margin-top: 0.5rem;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}

// home donate banner

.home__donate {
  background-image: url("https://inaye.az/uploads/606f716d1ae73.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 670px;
  display: flex;
  padding: 3rem;

  @media (max-width: 600px) {
    padding: 3rem 2rem;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: center;
    width: 50%;

    @media (max-width: 768px) {
      width: 75%;
    }
  }
  h2 {
    padding: 0.5rem;
    font-size: 3.5rem;
    font-weight: 800;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
    @media (max-width: 400px) {
      font-size: 1.5rem;
    }
  }
  p {
    padding: 0.5rem;
  }
  a {
    border-radius: 5px;
    background-color: $yellow;
    padding: 1rem 1.5rem;
    color: $black;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    gap: 0.5rem;
    transition: all 0.4s;
    margin-top: 2rem;

    ion-icon {
      transition: all 0.1s;
    }

    &:hover {
      background-color: $orange;
      color: white;
    }
  }
}

// home call to action section

.home__calltoaction {
  background-color: #424242;
  padding: 5rem 3rem;

  @media (max-width: 700px) {
    padding: 3rem 1rem;
  }

  .grid {
    width: 75%;
    display: flex;
    gap: 2rem;
    align-items: center;

    @media (max-width: 900px) {
      width: 100%;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .grid-left {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    h2 {
      color: white;
    }
    .links {
      display: flex;
      gap: 1rem;

      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }

      a {
        border-radius: 5px;
        padding: 1.2rem 1.5rem;
        transition: 0.1s;
        font-size: 1.6rem;
        font-weight: 700;

        @media (max-width: 600px) {
          font-size: 1.2rem;
          padding: 1rem;
        }

        &:hover {
          background-color: $orange;
          color: white;
        }
      }

      .donate {
        background-color: $yellow;
        color: $black;
      }
      .register {
        background-color: $green;
        color: $black;
      }
      .voluntary {
        background-color: $orange;
        color: white;

        &:hover {
          background-color: $green;
        }
      }
    }
    img {
    }
  }
}

// footer
footer {
  background-color: $black;
  padding: 5rem 4rem 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 5rem 3rem;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    .footer__contact {
      p {
        color: #8a8a8a;
        line-height: 1.5;

        a {
          color: white;
        }
      }
    }

    .footer__logo {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      img {
        height: 120px;
      }
      span {
        font-size: 1.5rem;
        font-weight: 600;
        color: #db1515;
        text-align: center;
      }
    }
  }

  .footer__right {
    display: flex;
    flex-direction: column;

    aside {
      h3 {
        color: #e0e0e0;
        margin-bottom: 2rem;
        font-size: 1.5em;
      }
      a {
        color: #8a8a8a;
        font-size: 2rem;
        transition: 0.1s;

        &:hover {
          color: $green;
        }
      }
      ul {
        display: flex;
        gap: 1rem;
      }
    }
    .footer-swiper {
      width: 450px;
      margin: 0;
      height: 200px;

      @media (max-width: 500px) {
        width: 250px;
      }

      .swiper-slide {
        width: 90px;
        height: 90px;

        img {
          object-fit: cover;
        }
      }
    }
  }
}

// copyright section

.copyright-section {
  background-color: #0f0f0f;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding-inline: 2rem;
  text-align: center;

  a {
    color: $green;

    &:hover {
      color: $orange;
    }
  }
}

// about hero section

.about__hero {
  display: grid;
  place-items: center;
  padding: 3rem;

  img {
    border-radius: 10px;
    max-width: 60%;
    height: auto;
  }
}

// about info text section

.about__infotext {
  padding: 3rem 5rem;

  @media (max-width: 768px) {
    padding: 3rem;
  }

  h2 {
    color: $black;
    font-weight: 800;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
  }
  h4 {
    font-weight: 400;
    font-size: 1.4rem;
    color: $black;
    margin-bottom: 1rem;
  }
  p {
    color: #0d0d0d;
    font-size: 1.1rem;
    line-height: 1.6;
  }
}

// about services section

.about__services {
  padding: 3rem;
  padding-bottom: 9rem;
  background-color: #f6f5f2;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    color: $black;
    font-weight: 800;
    font-size: 2.5rem;
  }

  h4 {
    font-weight: 400;
    font-size: 1.4rem;
    color: $black;
    margin-bottom: 2rem;
  }

  .grid {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .about__services-srv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 2rem;
    min-width: 250px;

    img {
      scale: 1.1;
    }
    p {
      color: $green;
      line-height: 1.4rem;
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      max-width: 70%;
      transition: 0.4s;

      &:hover {
        color: $orange;
      }
    }
  }
}

// about account section

.about__account {
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    color: $black;
    font-weight: 800;
    font-size: 2.5rem;
  }

  h4 {
    font-weight: 400;
    font-size: 1.4rem;
    color: $black;
    margin-bottom: 2rem;
  }

  a {
    background-color: #84c54e;
    color: white;
    border-radius: 5px;
    align-self: center;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    ion-icon {
      font-size: 1.8rem;
    }

    &:hover {
      background-color: $orange;
    }
  }

  .grid {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .grid-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;

      div {
        color: $green;
        font-weight: 700;
        font-size: 2.5rem;
      }
    }
  }
}

// activities page

.activities__main {
  padding: 3rem 5rem;

  h1 {
    font-size: 3.5rem;
    color: $green;
    margin-bottom: 3rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .item {
      background-color: #f8f8f8;
      padding: 15px;
      border-radius: 13px;
      height: 100%;
      display: flex;
      flex-direction: column;

      p {
        color: #8a8a8a;
        font-size: 0.9rem;
      }
      h3 {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 8px;
        font-size: 1.4rem;
        color: $green;
        line-height: normal;
      }
      img {
        max-width: 100%;
      }
      a {
        text-align: center;
        background-color: #ffd000;
        padding: 0.5rem 2.4rem;
        border-radius: 3px;
        transition: all 0.3s;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 600;
        color: $black;
        align-self: center;
        margin-top: 2rem;

        &:hover {
          background-color: $green;
          color: white;
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin-top: 1.5rem;

    button {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;

      &.nav {
        background-color: $black;
        color: white;

        &:hover {
          background-color: $orange;
        }
      }
    }
  }
}

// scrollTopBtn

.scrollTopBtn {
  position: fixed;
  bottom: 5%;
  right: 2%;
  background-color: $green;
  color: white;
  padding: 12px;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
  display: none;
  z-index: 3;

  &:hover {
    background-color: $orange;
  }
}

// swiper slider

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
